body {margin:0;font-family:Arial}
.navLeft{float: left;}
.navRight{float: right;}

.topnav {
  overflow: hidden;
  background-color:whitesmoke;
  border-bottom: 1px solid rgb(227, 220, 207);
  /* padding-left: 2cm;
  padding-right: 2cm; */
  padding: 5px 2cm 0px 2cm;
  margin-top: 0;
}


.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  font-size: 17px;
  font-family: "OrthoFX-Semibold", Sans-serif;
  color: #404040;
  font-weight: 600;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  padding: 18px 18px;
  background-color: inherit;
  cursor: pointer;
  font-family: "OrthoFX-Semibold", Sans-serif;
  color: #404040;
  font-weight: 600;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border: 1px solid rgb(227, 220, 207);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 13px 20px;
  display: block;
  text-align: left;
  font-family: "OrthoFX-Semibold", Sans-serif;
  color: #404040;
  font-size: 14px;
  font-weight: 600;
}

.dropdown-content a:hover {
  background-color: whitesmoke;
  color: #EE6D57;
}

.dropdown:hover .dropdown-content {
  display: block;
}